.menu_list{
    margin-top: 0px;
    margin-left: 0;
    margin-right: auto;
    margin-left: -35px;
}

.category_li{
    display: block;
    width: 80px;
    height: 40px;
    margin-top: 1px;
    background-color :rgb(240, 237, 237);
    text-align: center;
    border-radius: 3px;
}

.category_li:hover{
    margin-left: 3px;
    background-color:  rgb(235, 211, 211);
}
