#modalCartBox {

    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
.cart_item{

    display: flex;
    widht: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

#modalCartBoxContent {

    overflow: auto;
    background-color: #fefefe;
    margin: auto auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40rem;
    height: 500px;

    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    font-family: "PT Sans",sans-serif;
}
.header{
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header::after {
    margin-bottom:10px;
    height:1px;
    background-color: #ccc;
    width: 100%;
}
.header__description{
    font-family: sans-serif;
    font-size: 2rem;
    margin-top:25px;
}
.shopping{
    border: none;
    width:25px;
    height: 25px;
    color: transparent;
    background-color: #fff;
    background-image: url("../image/close.svg");
    background-size: contain ;
    background-repeat: no-repeat;
    margin-top: 25px;
    outline: none;
}
.item{
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 10px;
}
.item_count_less,
.item_count_more,
.item_clear{
    width: 30px;
    height: 25px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;


}

.item_clear{
    width: 50px;
}
.item_count{
    text-align: center;
    width: 30px;
    height: 22px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}
.item_img{
    width: 5rem;
    height: 5rem;
    /*background-color: #e2e2e2;*/
}

.item_name{
    margin-top:20px;
    margin-left:20px;
    width:100px;
    font-size:1.3rem;
}
.item_count_less,
.item_count_more,
.item_clear,
.item_name,
.item_price,
.item_total{
    margin-top: 25px;
}
.total_price{
    float: right;
    margin-right: 30px;
    font-size:1.2rem;
    font-family:sans-serif;
}

