
.search{
    position: relative;
    padding: 20px 0px;
}

.search__prod{
    height: 35px;
    width: 100%;
    padding: 0px 10px;
}

.sort{
    position: relative;
    padding: 20px 0px;
}
.sort__wrap{
    height: 35px;
    width: 100%;
    cursor: pointer;
}

.sort_prod:hover{
    background-color: red;
}


.wrapper{



}

.wrapper__prod{

    height: 430px;
    background-color: white;
    margin: 10px 10px;
    padding: 0px;
}

.wrapper__prod:hover{
    box-shadow: 0px 0px 15px 3px rgba(145,132,133,0.75);
}



.wrapper__prod__img{
    width: 100%;
    height: 200px;
    background-color: transparent;
}

.wrapper__prod__name{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    display: block;
    height: auto;
    color: black;
    padding: 5px 15px;
}

.wrapper__prod:hover .wrapper__prod__name{
    color: #9bbc15;
}

.wrapper_prod_desc{
    width: 100%;
    height: 68px;
    padding: 0px 20px;
    overflow: hidden;
    font-size: 14px;
    color: black;
}

.wrapper__prod__but{
    bottom: 10px;
    width: 80%;
    height: 40px;
    background-color: white;
    position: absolute;
    border: 1px solid #8c9f3f;
    color: #9bbc15;
    border-radius: 3px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
    margin-left: 9%;
}

.wrapper__prod__but:hover{
    background-color: #9bbc15;
    color: white;
    font-family: 'PT Sans Caption', sans-serif;
    border-radius: 3px;
    font-size: 16px;
}

.wrapper__prod__price{
    font-size: 20px;
    font-weight: 900;
    text-align: right;
    margin-right: 19px;
    padding-top: -10px;
    display: block;
    color: black;
    bottom: 68px;
    position: absolute;
    right: 1px;

}