<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<br/>
<!--<input type="text" name="login" placeholder="login" id="login"/>-->
<!--<input type="text" name="password" placeholder="password" id="pass"/>-->
<input type="text" name="firstName" placeholder="first name" id="firs"/>
<input type="text" name="lastName" placeholder="last name" id="las"/>
<input type="text" name="phoneNumber" placeholder="phone number" id="phon"/>
<!--<input type="text" name="city" placeholder="city" id="city"/>-->
<select id="city"/>
<input type="text" name="address" placeholder="address" id="add"/>
<input type="text" name="email" placeholder="email" id="email"/>
<button id="saveUser">save</button>


<div class="show"></div>

<script src="/acc.js"></script>
</body>
</html>