<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<br/>


<form name="myform">
    <input type="text" name="firstName" placeholder="first name" id="first" onkeyup="checkout()"/>
    <p id="first_name"></p>
    <input type="text" name="lastName" placeholder="last name" id="last"/>
    <input type="text" name="phoneNumber" placeholder="phone number" id="phone" onkeyup="phonecheck()"/>
    <p id="number"></p>
    <input type="text" name="address" placeholder="address" id="address"/>
    <input type="email" name="email" placeholder="email" id="email"/>
    <select id="list"></select>
    <button id="saveUser">save</button>
</form>

<div class="targetcus"></div>

<script src="/acc.js"></script>
<script src="/test.js"></script>
</body>
</html>