<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="mainView">
<head>
    <meta charset="UTF-8"/>
    <title>admin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="/css/new-age.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet"/>
    <!--<link href="/css/slider.css" rel="stylesheet"/>-->
    <link rel="stylesheet" href="/css/dropdown.css"/>
    <link rel="stylesheet" href="/css/viewProduct.css"/>


    <script src="/vendor/angular/angular.js"></script>
    <script src="/js/modernizr.custom.js"></script>
</head>
<body>

<br/>



<div class="white container hg-100 wd-100 mt-87">
    <div class="container">
        <div class="adminHead">
            <h2>Вітаю на сторінці Адміністратора</h2>
        </div>
        <div class="row" ng-controller="adminsViewCtrl">
            <div class="col-md-2 mt-20">
                <ul class="buttonList text-center">
                    <li> <button ng-click="showProducts()" class="adminsBtn">Усі продукти</button> </li>
                    <li> <button ng-click="addProduct()" class="adminsBtn">Додати товар</button>
                    </li>
                    <li> <button ng-click="showOrders()" class="adminsBtn">Показати замовлення</button></li>

                </ul>
            </div>
            <div class="col-md-10 text-center mt-20" >
                <div ng-show="currentView=='none'">
                    <span class="non-used">Виберіть дію з пункту меню</span>
                    <input type="text" name="pName" placeholder="name" id="name"/>
                    <input type="text" name="count" placeholder="count" id="count"/>
                    <input type="text" name="description" placeholder="descr" id="descr"/>
                    <input type="text" name="price" placeholder="price" id="price"/>
                    <!--<input type="text" name="category" placerholder="category" id="category"/>-->
                    <select id="list"></select>
                    <button id="saveBtn">save</button>

                    <button id="SortByAddingDate">SortByAddingDate</button>

                </div>
                <!--<ng-include src="'/pages/editPage.jsp'" ng-show="currentView=='edit'"></ng-include>-->
                <!--<ng-include src="'/allProducts.html'" ng-show="currentView=='products'"></ng-include>-->
                <ng-include src="'/templates/addProduct.html'" ng-show="currentView=='add'"></ng-include>
                <!--<ng-include src="'/pages/showOrders.jsp'" ng-show="currentView=='orders'"></ng-include>-->

            </div>
        </div>


        <!--<%&#45;&#45;<input type="text" name="name" id="cName" required>&#45;&#45;%>-->
        <!--<%&#45;&#45;<button id="ctgBtn">add</button>&#45;&#45;%>-->


        <!--<%&#45;&#45;<form action="/find" method="post">&#45;&#45;%>-->
        <!--<%&#45;&#45;<input type="text" name="cityName" id="cityName">&#45;&#45;%>-->
        <!--<%&#45;&#45;&lt;%&ndash;<button id="cityNameBtn">find city</button>&ndash;%&gt;&#45;&#45;%>-->
        <!--<%&#45;&#45;<input type="submit" value="addCity">&#45;&#45;%>-->
        <!--<%&#45;&#45;</form>&#45;&#45;%>-->



    </div>
</div>


<div th:include="/fragments/frag::#pred" ></div>
<div th:include="/fragments/frag::style"/>
<div th:include="/fragments/frag::static"/>





<!--<button id="SortByAddingDate">SortByAddingDate</button>-->

<!--<div id="listprod"></div>-->


<!--<div th:include="/fragments/frag::#pred" ></div>-->
<!--<div th:include="/fragments/frag::style"/>-->
<!--<div th:include="/fragments/frag::static"/>-->







<footer class="container">
    <div class="container">
        <p>&copy; 2017 Made by Semandre.All rights reserved</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/new-age.min.js"></script>
<script src="/js/jquery.cbpFWSlider.min.js"></script>
<script src="/js/dropdown.js"></script>
<script src="/js/AjaxCart.js"></script>
<script src="/js/adminAjax.js"></script>
<script src="/js/mainView.js"></script>
<script src="/main.js"></script>
<!--<script src="/test.js"></script>-->
<script src="/products.js"></script>


</body>
</html>