<!DOCTYPE html>
<html lang="en" ng-app="modal" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>

    <link rel="stylesheet" href="css/index.css"></link>
    <title>Title</title>
    <link type="text/css" href="css/modal.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/menu.css"/>
    <link rel="stylesheet" href="/css/prod_wrapper.css"/>
</head>
<body ng-controller="modalcarts">


<div th:include="/fragments/cart_frag::#header"></div>
<div th:include="/fragments/cart_frag::cart_css"></div>
<div th:include="/fragments/cart_frag::cart_js"></div>

<div th:include="/fragments/cart_frag::#menu_lists"></div>
<div th:include="/fragments/cart_frag::menu.css"></div>

<div class="wraper">
    <main>


        <!--<div>-->
            <!--<button id="SortByLowPrice">За зростанням ціни</button>-->
            <!--<button id="SortByHighPrice">За зменшенням ціни</button>-->

            <!--<input type="text" name="name" id="name"/>-->
            <!--<button id="search">пошук</button>-->
        <!--</div>-->

        <!--<div class="target"></div>-->
        <!--<div th:include="/fragments/frag::#prod_wrap"></div>-->
        <!--<div th:include="/fragments/frag::prod_css"></div>-->
        <div id="btn"></div>
    </main>
</div>


<div th:include="/fragments/frag::#pred"></div>
<div th:include="/fragments/frag::style"/>
<div th:include="/fragments/frag::static"/>


<script src="/main.js"></script>
<script src="/cartmodal.js"></script>

<!--<script src="/preloader.js"></script>-->

</body>
</html>