<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Title</title>
    <!--<link type="text/css" href="css/preloader.css" rel="stylesheet" />-->
</head>
<body>


<button id="SortByLowPrice">За зростанням ціни</button>
<button id="SortByHighPrice">За зменшенням ціни</button>

<input type="text" name="name" id="name"/>
<button id="search">пошук</button>
<a href="cartBox"><button>Корзина</button></a>


<div class="target"></div>
<div id="btn"></div>


<div th:include="/fragments/frag::#pred" ></div>
<div th:include="/fragments/frag::style"/>
<div th:include="/fragments/frag::static"/>


<script src="/main.js"></script>
<script src="/test.js"></script>
<!--<script src="/preloader.js"></script>-->

</body>
</html>